body{
    font-family: 'Balthazar',serif;
}

h2:hover{
    color:#008cba;
    cursor:pointer;
}

#container{
    border: 10px solid black;
    width: 400px;
    height:590px;
    border-radius:15px;
    background-color:black;
}

#screen{
    background-color:white;
    height:470px;
    width:370px;
    position:relative;
    left:15px;
    top:60px;
    border-radius:5px;
    overflow-y: scroll;
}

#textsBox{
    overflow-y: scroll;
    height: 350px;
    width: 350px;
    border: thin solid black;
    position: relative;
    left:10px;
}

.bubble{
    margin: 2px;
    padding: 2px;
    border-radius: 10px;
    height: auto;
    overflow-x: hidden;
}

#bubbleRight{
    width: 100px;
    border: thin solid black;
    float: right;
}

#bubbleLeft{
    border: thin solid black;
    width: 100px;
    float: left;
}

#loadingImage{
    border-radius:15px;
    height:30px;
    float: left;
}

#contact{
    margin:0;
    position:relative;
    left:150px;
}

.textMessage{
    position:relative;
    left:10px;
    width:345px;
    height:40px;
    top:5px;
}

.send{
    position:relative;
    left:315px;
    top:8px;
}

#profile {
    position: relative;
    left:450px;
    width: 100px;
    height: 100px;
    top:400px;
    z-index: 2;
}


#background {
    position: relative;

    width: 370px;
    height: 200px;
    down:200px;
    z-index: 1;
}

.box{
  
    width: 369px;
    height: 50px;
    
    position: relative;
    down: 20px;
    


}

#name{
    position: relative;

}



.boxed {
    position: relative;
    width: 365px;
    
    background-color:LightSteelBlue;
    left: auto;

}
.tabs{
    position: relative;
    left:440px;
}


#mystory{
    border: 3px solid red;
    position: relative;
    height: 300px;
    top: 50px;
}

#box2{
    border: 3px solid green;
    position: relative;
    top: 150px;
     height: 75px;
}

#address{
    border: 3px solid yellow;
    position: relative;
    top: 200px;
     height: 75px;
}

#work{
    border: 3px solid blue;
    position: relative;
    top: 350px;
     height: 75px;
}

#contactinfo{
    border: 3px solid pink;
    position: relative;
    top: 400px;
     height: 75px;
}

#basicinfo{
    border: 3px solid orange;
    position: relative;
    top: 500px;
     height: 75px;
}

#school{
    border: 3px solid purple;
    position: relative;
    top: 600px;
    height: 75px;
}

.click{
    width: 100px;
    height: 100px;
    border: 3px solid black;
    position: relative;
    top: 700px;
    left:800px;
}

#passlock{
    position:relative;
    top:98px;
    width:324px;
    right:320px;
}

td,th{
    width:50px;
}
