body{
    font-family: 'Balthazar',serif;
}

h2:hover{
    color:#008cba;
    cursor:pointer;
}

#container{
    border: 10px solid black;
    width: 400px;
    height:590px;
    border-radius:15px;
    background-color:black;
}

#screen{
    background-color:white;
    height:470px;
    width:370px;
    position:relative;
    left:15px;
    top:60px;
    border-radius:5px;
    overflow-y: scroll;
    overflow-x: hidden;
}

#textsBox{
    overflow-y: scroll;
    height: 350px;
    width: 96%;
    border: thin solid black;
    position: relative;
    left:10px;
}

.bubble{
    margin: 5px;
    padding: 5px;
    border-radius: 15px;
    height: auto;
    overflow-x: hidden;
}

#bubbleRight{
    background-color:blue;
    width: auto;
    color:white;
    text-align:right;
    clear:both;
    float:right;
    display:block;
    position:relative;

}

#bubbleLeft{
    background-color:blue;
    color:white;
    width: auto;
    clear:both;
    float:left;
    display:block;
    position:relative;
}

#loadingImage{
    border-radius:15px;
    height:30px;
    clear:both;
    float:left;
    display:block;
    position:relative;

}

#contact{
    margin:0;
    position:relative;
    left:150px;
}

.textMessage{
    position:relative;
    left:10px;
    top:5px;
    width: 95%;
}

.send{
    position:relative;
    float:right;
    top:5px;
}

#profile {
    position: relative;
    left:130px;
    width: 100px;
    height: 100px;
    top:100px;
    z-index: 2;
}


#background {
    position: relative;

    width: 370px;
    height: 200px;
    bottom:105px;
    z-index: 1;
}

.box{
  
    width: 369px;
    height: 50px;
    
    position: relative;
    down: 20px;
    


}

#name{
    position: relative;
    left: 105px;
    bottom: 50px;

}



.boxed {
    position: relative;
    width: 365px;
    
    background-color:Snow;
    left: auto;

}
.tabs{
    position: relative;
    left:100px;

}


#mystory{
    border: 3px solid red;
    position: relative;
    height: 300px;
    top: 50px;
}

#box2{
    border: 3px solid green;
    position: relative;
    top: 150px;
     height: 75px;
}

#address{
    border: 3px solid yellow;
    position: relative;
    top: 60px;
    height: 75px;
}

#work{
    border: 3px solid blue;
    position: relative;
    top: 75px;
     height: 75px;
}

#contactinfo{
    border: 3px solid pink;
    position: relative;
    top: 90px;
     height: 75px;
}

#basicinfo{
    border: 3px solid orange;
    position: relative;
    top: 100px;
     height: 75px;
}

#school{
    border: 3px solid purple;
    position: relative;
    top: 110px;
    height: 75px;
}

.click{
    width: 100px;
    height: 100px;
    border: 3px solid black;
    position: relative;
    top: 700px;
    left:800px;
}

#passlock{
    position:relative;
    top:98px;
    width:324px;
    right:320px;
}

.photo{
	width: 75px;
	height: 75px;
	padding: 4px;
}

tr:hover{
    color:#008cba;
    cursor:pointer;
}

th{
    color:#008cba;
}
