#container{
    border: 10px solid black;
    width: 400px;
    height:590px;
    border-radius:15px;
    background-color:black;
}

#screen{
    background-color:white;
    height:470px;
    width:370px;
    position:relative;
    left:15px;
    top:60px;
    border-radius:5px;
}

